.navBar{
    position: relative;
}

.mainContainer{
    display: flex;
    position: relative;
    width: 96%;
    justify-content: center;
    left: 2%;
    right: 2%;
    flex-direction: column;
    margin-top: 60px;
}