
  
  .tableContainer {
    border-radius: 10px;
    max-height: 800px; /* Establece la altura máxima del contenedor de la tabla */
    overflow-y: auto; /* Ajusta el valor si hay alguna barra de navegación superior o similar */
    margin-bottom: 100px;
  }
  
  .pageContainer {
    background-image: url('https://www.aguaesencial.com/assets/images/slide-3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 400px top 100px;
  
    z-index: -1;
    overflow: auto; 
  }
.navBar{
    position: relative;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: strech;
    max-height: 50px;
    }
    .exportar{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .ids {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }   

@media screen and (max-width: 700px) {
    .custom-header {
        font-size: 6px; /* Ajusta el tamaño de la letra según tus preferencias */
        color: red;
      }
    .botons{
    display: flex;
    justify-content: space-between;
    align-items:stretch;
    max-height: 60px;
    }
    .botonDelete{
        display: none;
    }
    .columns1{
        display: none;
    }
    .columns2{
        display: initial;
    }
  }
